<!doctype html> 
<html>
    <head>
       <title> The Weather Forecast - <%= shopData.shopName %></title>
       <link rel ="stylesheet" type="text/css" href="/main.css" />
    </head>
    <body>
        <h1>The Weather Forecast</h1>

        <form method="GET" action="/weather/search">
            <p>City: <input id="text" name="city" placeholder="e.g. London" required /></p>
            <input type="submit" value="Get Weather" />
        </form>

        <% if (typeof weatherMsg !== 'undefined') { %>
           <div class="weather-box">
            <p><%- weatherMsg %></p>
            </div>
          <% } %>
    </body>
</html>
    